*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #091e3d;
    --secondary-color :#283f61;
    --primary-font-color : #ffffff;
}


body{
    background-color: var(--primary-color)!important;
}